
<div class="row <%= controller_name %> <%= action_name %>" id="navBar">
   <div class="two columns hrefLink" id="twoMinutes">2 Minutes</div>
    <div class="two columns" id="fourMinutes">4 Minutes</div>
    <div class="two columns" id="sixMinutes">6 Minutes</div>
    <div class="two columns" id="tenMinutes">10 Minutes</div>
<!-- </div> is added on the index/show pages; don't add it here-->
