<!-- Progress Bar -->
    <div class="progress">
      <div class="wrapper">
        <div class="bar">
          <a href="#articleView"></a>
          <i class="icon-ok"></i>
          <span></span>
        </div> <!-- End .bar -->
      </div> <!-- end .wrapper -->
    </div><!--  End .progress -->

<!-- Primary Page Layout -->

<!-- navBar -->
<div class="row" id="navBar">
    <div class="two columns" id="mostRead">
        <%= link_to "See all", articles_path, { :class=>"hrefLink" } %>
    </div>
</div>
<!-- scroll-along tracker -->
<div class="tracker">
    <div class="row" id="articleView">
        <!-- article title -->
        <%= @guardian_article %>
            </div> <!-- End Two-Thirds Column -->
        </div> <!-- End Article Content -->
    </div><!--  End article view -->
</div> <!-- end tracker -->


<div class="footer">
FYI: A well informed electorate is a prerequisite for democracy. - Thomas Jefferson
</div>
<script>
(function($){
    $(function(){


      var wrapper_top = $(".progress .wrapper").offset().top;
      $(window).scroll(function (){
        var wrapper_height = $(".progress .wrapper").height();

        // Affixes Progress Bars
          var top = $(this).scrollTop();
        if (top > wrapper_top - 10) {
            // $(".progress .wrapper").addClass("affix");
        }
        else {
                // $(".progress .wrapper").removeClass("affix");
        }


        // Calculate each progress section
        $(".tracker div").each(function(i){
            var this_top = $(this).offset().top;
            var height = $(this).height();
            var this_bottom = this_top + height;
            var percent = 0;

// tracks how far down the page is scrolled; different multiplier based on article length
            // Scrolled within current section
            if (top >= this_top && top <= this_bottom) {
                if ($('h1').hasClass("twoMinutes")){
                    percent = ((top - this_top) / (height - wrapper_height)) * 500;
                } else if ($('h1').hasClass("fourMinutes")){
                    percent = ((top - this_top) / (height - wrapper_height)) * 150;
                } else if ($('h1').hasClass("sixMinutes")){
                    percent = ((top - this_top) / (height - wrapper_height)) * 150;
                } else {
                    percent = ((top - this_top) / (height - wrapper_height)) * 100;
                }

                console.log(percent);
                if (percent >= 100) {
                    percent = 100;
                    $(".progress .wrapper .bar:eq("+i+") i").css("color", "#fff");
                }
                else {
                    $(".progress .wrapper .bar:eq("+i+") i").css("color", "#36a7f3");
                }
            }
            else if (top > this_bottom) {
                percent = 100;
                $(".progress .wrapper .bar:eq("+i+") i").css("color", "#fff");
            }
            console.log(i);
            $(".progress .wrapper .bar:eq("+i+") span").css("width", percent + "%");
        });
      });


      // Smooth Scroll Links
      $(".wrapper .bar a").click(function (e){
        e.preventDefault();

        var hash = this.hash.substr(1);
        console.log(hash);
        $('html, body').animate({
        scrollTop: $("#"+ hash).offset().top - 10
        }, 500);

      });



    }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
